@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.container {
  width: calc(100vw - 300px);
  height: auto;
  left: 300px;
  margin-top: -100vh;
  position: relative;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 253, 253);
}

.item {
  flex-direction: column;
  padding: 30px 50px;
}

.title {
  font-family: "Fredericka the Great";
  font-size: 50px;
  color: #d88144;
}
.desc {
  color: rgb(86, 86, 86);
  font-weight: 200;
  font-size: 25px;
  width: 80%;
}

.item:last-child {
  width: 60vw;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin-bottom: 5vh;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}
.label {
  position: absolute;
  color: rgb(46, 46, 46);
  font-weight: lighter;
}
.textarea {
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  background: transparent;
}
.textarea:focus,
.input:focus {
  outline: none;
}
.button {
  padding: 10px;
  background-color: #e2a981;
  color: #fff;
  font-size: 20px;
  border: none;
  font-family: "Fredericka the Great";
  cursor: pointer;
}
.button:hover {
  background-color: #d88144;
}

@media screen and (max-width: 880px) {
  .container {
    height: auto;
    text-align: center;
  }
  .title {
    font-size: 40px;
  }
  .desc {
    font-size: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .container {
    left: 0;
    width: 100vw;
    margin: 0 auto;
  }
  .item:last-child {
    width: 90vw;
  }
}
