@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.container {  
  width: calc(100vw - 300px);
  left: 300px;
  margin-top: -100vh;
  margin-bottom: 10vh;
  position: relative;
  height:auto;
  display: flex;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.title {
  font-family: 'Fredericka the Great';
  font-size: 43px;
}
.price {
  color: #d1411e;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #d1411e;
}
.desc{
  font-weight: 200;
}

.sizes {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.size {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}

.size:nth-child(2) {
  width: 40px;
  height: 40px;
}

.size:last-child {
  width: 50px;
  height: 50px;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: teal;
  color: white;
  font-size: 12px;
  font-weight: 200;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  margin-bottom: 20px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: #d1411e;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    padding-top: 30px;
  }
  .imgContainer {
    width: 23vw;
    height:23vw;
  }
  .right {
    align-items: center;
  }
  .title {
    font-size: 35px;
    margin-top:5px;
  }

  .sizes {
    width: 80%;
    padding: 0px 20px;
  }

}
@media screen and (max-width: 660px) {
  .container {
    left: 0;
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
  }

  .imgContainer {
    width: 70vw;
    height: 70vw;
  }

  .title {
    margin: 5px;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
  }

  .ingredients {
    flex-direction: column;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
}